/*-------------------------------------------
共通のレイアウト
-------------------------------------------*/
/* html{
    font-size: 62.5%;
} */

img{
    max-width: 100%;
}
.siteWrap{
    width: 90%;
    margin: 0 auto;
}
.innerWrap{
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 940px){
    .innerWrap{
        width: 90%;
    }
}

/*-------------------------------------------
mainVis
-------------------------------------------*/
.mainVis{
    margin-top: 60px;
}
.mainVis__img{
    width: 90vw;
    height: auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
@media screen and (max-width: 635px){
    .header{
        align-items: center;
    }
}
.navList{
    display: flex;
    margin-left: 60px;
}
.navListItem:not(:first-child){
    margin-left: 40px;
}
@media screen and (max-width: 635px){
    .navListItem{
        font-size: 5px;
    }
}
.header__img{
    width: 10vw;
    height: auto;
}
@media screen and (max-width: 635px){
    .header__img{
        width: 30vw;
    }
}

/*-------------------------------------------
section concept
-------------------------------------------*/
.concept{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
@media screen and (max-width: 635px){
    .concept{
        flex-direction: column;
        justify-content: center;
    }
}
.concept__imgSide{
    width: 48%;
}
@media screen and (max-width: 635px){
    .concept__imgSide{
        width: 90%;
    }
}
.concept__img{
    width: 500px;
    height: auto;
}
.concept__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
@media screen and (max-width: 635px){
    .concept__desc{
        width: 90%;
    }
}
.concept__ttl{
    font-size: 25px;
}
@media screen and (max-width: 635px){
    .concept__ttl{
        margin-top: 10px;
    }
}
.concept__ttlIOW{
    font-size: 14px;
    margin-top: 10px;
}
.concept__txt{
    font-size: 17px;
}
.concept__txt:not(:last-of-type){
    margin-top: 40px;
}
.concept__txt:last-child{
    margin-top: 10px;
}

/*-------------------------------------------
section work
-------------------------------------------*/
.work{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
@media screen and (max-width: 635px){
    .work{
        justify-content: center;
        flex-direction: column-reverse;
    }
}
.work__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
@media screen and (max-width: 635px){
    .work__desc{
        width: 90%;
    }
}
.work__ttl{
    font-size: 25px;
}
@media screen and (max-width: 635px){
    .work__ttl{
        margin-top: 10px;
    }
}
.work__ttlIOW{
    font-size: 14px;
    margin-top: 10px;
}
.work__txt{
    font-size: 17px;
    /* margin-top: 40px; */
}
.work__txt:not(:last-child){
    margin-top: 40px;
}
.work__txt:last-child{
    margin-top: 10px;
}
.work__imgSide{
    width: 48%;
}
@media screen and (max-width: 635px){
    .work__imgSide{
        width: 90%;
    }
}
.work__img{
    width: 500px;
    height: auto;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
}

@media screen and (max-width: 635px){
    .footer{
        align-items: center;
    }
}