/*-------------------------------------------
共通のレイアウト
-------------------------------------------*/
img{
    max-width: 100%;
}
.siteWrap{
    width: 90%;
    margin: 0 auto;
}
.innerWrap{
    width: 60%;
    margin: 0 auto;
}

/*-------------------------------------------
mainVis
-------------------------------------------*/
.mainVis{
    margin-top: 60px;
}
.mainVis__img{
    width: 90vw;
    height: auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.navList{
    display: flex;
    margin-left: 60px;
}
.navListItem:not(:first-child){
    margin-left: 40px;
}
.header__img{
    width: 150px;
    height: auto;
}

/*-------------------------------------------
section concept
-------------------------------------------*/
.concept{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.concept__imgSide{
    width: 48%;
}
.concept__img{
    width: 500px;
    height: auto;
}
.concept__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
.concept__ttl{
    font-size: 25px;
}
.concept__ttlIOW{
    font-size: 14px;
    margin-top: 10px;
}
.concept__txt{
    font-size: 17px;
}
.concept__txt:not(:last-of-type){
    margin-top: 40px;
}
.concept__txt:last-child{
    margin-top: 10px;
}

/*-------------------------------------------
section work
-------------------------------------------*/
.work{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.work__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
.work__ttl{
    font-size: 25px;
}
.work__ttlIOW{
    font-size: 14px;
    margin-top: 10px;
}
.work__txt{
    font-size: 17px;
    /* margin-top: 40px; */
}
.work__txt:not(:last-child){
    margin-top: 40px;
}
.work__txt:last-child{
    margin-top: 10px;
}
.work__imgSide{
    width: 48%;
}
.work__img{
    width: 500px;
    height: auto;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
}