/*-------------------------------------------
共通
-------------------------------------------*/
img{
    max-width: 100%;
}
.secWrap{
    width: 1200px;
    margin: 0 auto;
}
.silverWrap{
    width: 100%;
    background-color: #f4f1f1;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.header{
    background-image: url(../img/header_background.jpeg);
    /* background-size: 1200px; */
    background-position: center top;
    background-repeat: no-repeat;
}

/*-------------------------------------------
セクション ／　article 
-------------------------------------------*/
.article{
    margin-top: 100px;
}
.article__head{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.article__headTxt{
    text-align: center;
    margin-top: 20px;
}

.article__conts{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.article__archive{
    /* リンクを要素の高さいっぱいに広げるため */
    display: flex;
}
.article__archiveLink{
    position: relative;
}
.article__archiveImg{
    width: 590px;
    height: 590px;
}
.article__archiveHead{
    font-size: 22px;
}
.article__archiveTxts{
    background-color: #605f5f;
    color: #fff;
    width: 300px;
    position: absolute;
    bottom: 255px;
    left: 140px;
}

.article__new{
    display: flex;
}
.article__newLink{
    position: relative;
}
.article__newImg{
    width: 590px;
    height: 590px;
}
.article__newHead{
    font-size: 22px;
}
.article__newTxts{
    background-color: #605f5f;
    color: #fff;
    width: 300px;
    position: absolute;
    bottom: 255px;
    left: 140px;
}

/*-------------------------------------------
セクション ／　fashion
-------------------------------------------*/
.fashion{
    margin-top: 100px;
    width: 100%;

    height: 500px;
    background-image: url(../img/header_background.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
}
.fashion__conts{
    /* text-align: center; */

    /* display: flex;
    flex-direction: column;
    align-items: center; */

    /* display: grid;
    place-items: center; */

    /* position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */

    display: flex;
}
.fashion__head{
    font-size: 22px;
    font-weight: bold;
}

/*-------------------------------------------
セクション ／　catalog
-------------------------------------------*/
.catalog{
    margin-top: 100px;

    background-color: #f4f1f1;
    
    display: flex;
    justify-content: space-between;
}

.catalog__imgSide{
    width: 580px;
}
.catalog__img{
    width: 580px;
    height: 580px;
}

.catalog__txtSide{
    width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catalog__head{
    font-size: 22px;
    font-weight: bold;
}
.catalog__txt:first-of-type{
    margin-top: 60px;
}
.catalog__txt:not(:first-of-type){
    margin-top: 40px;
}

/*-------------------------------------------
セクション ／　antique
-------------------------------------------*/
.antique{
    margin-top: 100px;

    background-color: #f4f1f1;
    
    display: flex;
    justify-content: space-between;
}

.antique__imgSide{
    width: 580px;
}
.antique__img{
    width: 580px;
    height: 580px;
}

.antique__txtSide{
    width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.antique__head{
    font-size: 22px;
    font-weight: bold;
}
.antique__txt:first-of-type{
    margin-top: 60px;
}
.antique__txt:not(:first-of-type){
    margin-top: 40px;
}

/*-------------------------------------------
セクション ／　フッター
-------------------------------------------*/
.footer{
    margin-top: 100px;
}
.footerWrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footerWrap{
    background-color: #3d3a3a;
    color: #fff;
}

.footer__flexItem{
    width: 300px;
    line-height: 1.5;
}
.footer__ttl{
    font-size: 20px;
    font-weight: bold;
}
.footer__txtList{
    margin-top: 20px;
}
.footer__txtListItem::before{
    content: '-';
    margin-right: 5px;
}
.footer__txts{
    margin-top: 20px;
}

.footer__copyRight{
    text-align: center;
    margin: 30px 0;
}