/*-------------------------------------------
共通
-------------------------------------------*/
img{
    max-width: 100%;
}
.maxWidWrap{
    width: 100vw;
    margin: 0 auto;
}
.innerWrap{
    width: 900px;
    margin: 0 auto;
}
.silverWrap{
    width: 100vw;
    margin: 0 auto;
    background-color: #dad3d3;
    padding: 100px 0;
}
@media screen and (max-width: 899px){
    .silverWrap{
        padding: 30px 0;
    }
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.header{
    background-image: url(../img/header_background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.header{
    position: relative;
}
.header__logo{
    position: absolute;
    top: 30px;
    right: 30px;
}


/*-------------------------------------------
セクション ／　article 
-------------------------------------------*/
.article{
    margin-top: 100px;
}
@media screen and (max-width: 899px){
    .article{
        width: auto;
    }
}
.article__head{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.article__headTxt{
    text-align: center;
    margin-top: 20px;
}

.article__conts{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
@media screen and (max-width: 899px){
    .article__conts{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
.article__archiveLink{
    position: relative;
}
.article__archiveImg{
    width: 440px;
    height: 440px;
}
.article__archiveHead{
    font-size: 22px;
}
.article__archiveTxts{
    background-color: #605f5f;
    color: #fff;
}
.article__archiveTxts{
    width: 300px;
    position: absolute;
    bottom: 180px;
    left: 70px;
}

@media screen and (max-width: 899px){
    .article__new{
        margin-top: 20px;
    }
}
.article__newLink{
    position: relative;
}
.article__newImg{
    width: 440px;
    height: 440px;
}
.article__newHead{
    font-size: 22px;
}
.article__newTxts{
    background-color: #605f5f;
    color: #fff;
}
.article__newTxts{
    width: 300px;
    position: absolute;
    bottom: 180px;
    left: 70px;
}

/*-------------------------------------------
セクション ／　fashion
-------------------------------------------*/
.fashion{
    margin-top: 100px;
    margin-bottom: 100px;
}
.fashion{
    width: 100vw;
    height: 500px;
    background-image: url(../img/header_background.jpeg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.fashion__conts{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fashion__conts{
    color: #e30b0b;
}
.fashion__head{
    font-size: 22px;
    font-weight: bold;
}
.fashion__txt{
    margin-top: 30px;
    line-height: 2;
}
.fashion__btn{
    border: solid 3px #e30b0b;
    padding: 14px 36px;
    background-color: #dad3d3;
}
.fashion__btn{
    display: inline-block;
    margin-top: 30px;
}

/*-------------------------------------------
セクション ／　catalog
-------------------------------------------*/
.catalog{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 899px){
    .catalog{
        flex-direction: column;
        text-align: center;
    }
}

.catalog__imgSide{
    width: 430px;
}
@media screen and (max-width: 899px){
    .catalog__imgSide{
        width: 100%;
    }
}
.catalog__img{
    width: 430px;
    height: 430px;
}
@media screen and (max-width: 899px){
    .catalog__img{
        width: 90%;
        height: auto;
    }
}

.catalog__txtSide{
    width: 430px;
    margin-left: 40px;
}
@media screen and (max-width: 899px){
    .catalog__txtSide{
        margin-top: 20px;
        width: 90%;
        margin: 0 auto;
    }
}
.catalog__txtSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catalog__head{
    font-size: 22px;
    font-weight: bold;
}
.catalog__txt:first-of-type{
    margin-top: 60px;
}
@media screen and (max-width: 899px){
    .catalog__txt:first-of-type{
        margin-top: 20px;
    }
}
.catalog__txt:not(:first-of-type){
    margin-top: 40px;
}
@media screen and (max-width: 899px){
    .catalog__txt:not(:first-of-type){
        margin-top: 20px;
    }
}

/*-------------------------------------------
セクション ／　antique
-------------------------------------------*/
.antique{
    margin-top: 100px;
}
@media screen and (max-width: 899px){
    .antique{
        margin-top: initial;
    }
}
.antique{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 899px){
    .antique{
        flex-direction: column-reverse;
        text-align: center;
    }
}

.antique__txtSide{
    width: 430px;
}
@media screen and (max-width: 899px){
    .antique__txtSide{
        width: 90%;
        margin: 0 auto;
    }
}
.antique__txtSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.antique__head{
    font-size: 22px;
    font-weight: bold;
}
.antique__txt:first-of-type{
    margin-top: 60px;
}
@media screen and (max-width: 899px){
    .antique__txt:first-of-type{
        margin-top: 20px;
    }
}
.antique__txt:not(:first-of-type){
    margin-top: 40px;
}
@media screen and (max-width: 899px){
    .antique__txt:not(:first-of-type){
        margin-top: 20px;
    }
}

.antique__imgSide{
    width: 430px;
    margin-left: 40px;
}
@media screen and (max-width: 899px){
    .antique__imgSide{
        margin-top: 30px;
        width: 100%;
        margin-left: initial;
    }
}
.antique__img{
    width: 430px;
    height: 430px;
}
@media screen and (max-width: 899px){
    .antique__img{
        width: 90%;
        height: auto;
    }
}

/*-------------------------------------------
セクション ／　フッター
-------------------------------------------*/
.footer{
    margin-top: 100px;
}
.footerWrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media screen and (max-width: 899px){
    .footerWrap{
        flex-direction: column;
        margin: 0 auto;
    }
}
.footerWrap{
    background-color: #3d3a3a;
    color: #fff;
}

.footer__flexItem{
    width: 300px;
    line-height: 1.5;
}
@media screen and (max-width: 899px){
    .footer__flexItem{
        width: 100%;
        padding: 0 20px;
    }
    .footer__flexItem:first-of-type{
        text-align: center;
    }
}
.footer__logo{
    text-align: center;
}
.footer__ttl{
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width: 899px){
    .footer__ttl{
        margin-top: 30px;
    }
}
.footer__txtList{
    margin-top: 20px;
}
.footer__txtListItem::before{
    content: '-';
    margin-right: 5px;
}
.footer__txts{
    margin-top: 20px;
}

.footer__copyRight{
    text-align: center;
    margin: 30px 0;
}