/*-------------------------------------------
共通
-------------------------------------------*/
.siteWrap{
    width: 60%;
    margin: 0 auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.header__nav{
    display: flex;
}
.header__navItem:not(:first-child){
    margin-left: 30px;
}
.header__instaIcon{
    width: 20px;
    height: auto;
}

/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
.mainVis{
    width: 100%;
    margin-top: 100px;
}

/*-------------------------------------------
セクション／about
-------------------------------------------*/
.about{
    margin-top: 100px;
}
.about__head{
    font-size: 30px;
    text-align: center;
}
.about__name{
    margin-top: 100px;
}
.about__info{
    margin-top: 40px;
}
.about__infoItem:not(:first-child){
    margin-top: 5px;
}
.about__profTxt{
    margin-top: 40px;
}

/*-------------------------------------------
セクション／works
-------------------------------------------*/
.works{
    margin-top: 150px;
}
.works__head{
    font-size: 30px;
    text-align: center;
}
.works__imgs{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.works__imgsItem{
    width: calc(95%/3);
}
.works__img{
    width: 100%;
    height: auto;
}

/*-------------------------------------------
セクション／works
-------------------------------------------*/
.news{
    margin-top: 150px;
}
.news__head{
    font-size: 30px;
    text-align: center;
}
.news__info{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-top: 100px;
    /* row-gap: 5px; */
}
.news__infoItem{
    width: 25%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}
.news__infoItemDesc{
    width: 75%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}