/*-------------------------------------------
共通
-------------------------------------------*/
.siteWrap{
    width: 60%;
    margin: 0 auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.header__nav{
    display: flex;
}
.header__navItem:not(:first-child){
    margin-left: 30px;
}
.header__instaIcon{
    width: 20px;
    height: auto;
}

/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
.mainVis{
    width: 100%;
    margin-top: 100px;
}

/*-------------------------------------------
セクション／about
-------------------------------------------*/
.about{
    margin-top: 100px;
}
.about__head{
    font-size: 30px;
    text-align: center;
}
.about__name{
    margin-top: 100px;
}
.about__info{
    margin-top: 40px;
}
.about__infoItem:not(:first-child){
    margin-top: 5px;
}
.about__profTxt{
    margin-top: 40px;
}